@charset "utf-8"
  

body {
  margin-left: auto;
  margin-right: auto;
  width: 81.9%;
  padding-left: 4.55%;
  padding-right: 4.55%;
  clear: none;
  float: none;
  min-height: 100%;
}
article h1{
  font-size: 2.2em;
  color: wheat;
}
article {
  width: 100%;
  float: left;
  font-size: 0.9em;
  text-align: justify;
}
blockquote {
  color: 
  font-size: 1em;
  width: 100%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  margin: 0 0 4% 0;
}
blockquote p:last-of-type {
  border-top: 1px solid limegreen;
  text-align: right;
  font-size: 1em;
}
blockquote {
  background: lightblue;
  border-left: 10px solid #339966;
  quotes: "\201C""\201D""\201C""\2019";
  	border-radius: 20%;
	width: 40%;
	margin: 1%;
	float: left;
	padding: 2%;
}
